@external *.;

.v-SplitDivider {
    z-index: 10;
    background: none;
    position: absolute;
}

.v-SplitDivider.vertical {
    cursor: ew-resize;
}

.v-SplitDivider.horizontal {
    cursor: ns-resize;

}

.v-SplitDivider.static {
    cursor: default !important;
}